@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    font-size: 2rem;
    line-height: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #404040;
}

header {
    margin: 0 7rem;
}

h1 {
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 1rem;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

/* nav */
nav {
    font-weight: 700;
    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 0.7rem;
    border: none;
    background-image: linear-gradient(to bottom right,rgba(182, 182, 182, 0.5), rgba(0, 0, 0, 0.26));
    border-radius: 2.5rem;
}

.seperator {
    padding: 0 4rem;
}

/* start button */
#start-button {
    height: 100%;
    width: 9rem;
    margin: 0 1.5rem;
    border: none;
    background-color: inherit;
    font-family: inherit;
    background-image: linear-gradient(to bottom right, rgba(252, 189, 15, .6), rgba(0, 0, 0, 0.26));
    border-radius: 2.5rem;
    font-weight: 700;
    font-size: inherit;
    cursor: pointer;
    text-align: center;
}

/* home page */
/* cards */
.card-grid {
    max-height: 90rem;
    max-width: 45rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "column column column column"
    "column column column column"
    "column column column column"
    ". reset . ."
}

.card {
    display: flex;
    justify-content: center;
    min-height: 16rem;
    perspective: 1000px;
    place-self: center;
    grid-column: auto;
    grid-row: auto;
  }
  
.column {
    width: 25%;
    margin: 1rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    grid-area: column;
    grid-row: auto;
}

.card > .flipped {
    transform: rotateY(180deg);
}

.card-faces {
    max-height: 15rem;
    border-radius: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 4px 4px 4px black;
    display: block;
}

.inner-face, .outer-face {
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.inner-face {
    transform: rotateY(180deg);
}

/* reset button */
#reset-button {
    display: inline;
    height: 4.5rem;
    width: 28rem;
    margin: 1.5rem;
    border: none;
    background-color: inherit;
    font-family: inherit;
    background-image: linear-gradient(to bottom right,rgb(255, 61, 181, .6), rgba(0, 0, 0, 0.26));
    border-radius: 2.5rem;
    font-weight: 700;
    font-size: inherit;
    cursor: pointer;
    text-align: center;
    grid-area: 4 / 2 / auto / span 2;
    place-self: center;
    grid-column: auto;
    grid-row: auto;
}


/* rule page */
#game-rules {
    text-align: center;
    padding: 4rem 5rem;
}

/* text colors */
.pink {
    color: rgb(255, 61, 181);
}

.orange {
    color: rgb(252, 189, 15);
}

.yellow {
    color: rgb(238, 255, 0);
}

.green {
    color: rgb(70, 255, 45);
}

.blue {
    color: rgb(58, 216, 255);
}

.purple {
    color: rgb(187, 23, 219);
}

/* footer */
footer {
    position: relative;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(252, 189, 15);
}