@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    font-size: 2rem;
    line-height: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: rgb(70, 255, 45);
    background-color: #404040;
}

header {
    margin: 1rem;
    padding: 1%;
}

h1 {
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 2rem;
}

main {
    margin-top: auto;
    flex: 1;
}

/* cards */
#cards{
    max-height: 90rem;
    max-width: 45rem;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    min-height: 16rem;
  }
  
.column {
    width: 25%;
    height: 7.5rem;
    margin: 1rem;
    position: relative;
}

.card-faces {
    max-height: 15rem;
    border-radius: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.outer-face{
    filter: invert(100%);
}

/* nav */
nav {
    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

#copyright {
    font-size: 1.5rem;
    color: rgb(253, 210, 18);
}

#seperator {
    padding: 0 4rem;
}

#rules {
    color: rgb(58, 216, 255);
}

#high-scores {
    color: rgb(255, 61, 181);
}

/* footer */
footer {
    position: relative;
    text-align: center;
}

