@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    font-size: 2rem;
    line-height: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #404040;
}

header {
    margin: 0 7rem;
}

h1 {
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 1rem;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

/* nav */
nav {
    font-weight: 700;
    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 0.5rem;
    border: solid rgba(63, 63, 63, 0.538);
    background-image: linear-gradient(to bottom right,rgba(182, 182, 182, 0.5), rgba(0, 0, 0, 0.26));
    border-radius: 2.5rem;
}

.seperator {
    padding: 0 4rem;
}

/* rule page */
#game-rules {
    text-align: center;
    padding: 4rem 5rem;
}

/* home page */
/* start button */
#start-button {
    padding: 0.5rem;
    border: solid rgba(63, 63, 63, 0.538);
    background-image: linear-gradient(to bottom right,rgba(182, 182, 182, 0.5), rgba(0, 0, 0, 0.26));
    border-radius: 2.5rem;
    color: black;
}

.start-button {
    text-align: center;
    /* padding: 4rem 5rem; */
}

/* cards */
#cards {
    max-height: 90rem;
    max-width: 45rem;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    min-height: 16rem;
  }
  
.column {
    width: 25%;
    height: 7.5rem;
    margin: 1rem;
    position: relative;
}

.card-faces {
    max-height: 15rem;
    border-radius: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 4px 4px 4px black;
}

.outer-face{

}

/* text colors */
.pink {
    color: rgb(255, 61, 181);
}

.orange {
    color: rgb(252, 189, 15);
}

.yellow {
    color: rgb(238, 255, 0);
}

.green {
    color: rgb(70, 255, 45);
}

.blue {
    color: rgb(58, 216, 255);
}

.purple {
    color: rgb(187, 23, 219);
}

/* footer */
footer {
    position: relative;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(252, 189, 15);
}